@import url('https://fonts.googleapis.com/css2?family=Amiko&family=IBM+Plex+Sans+Condensed&family=Quattrocento+Sans&display=swap');

header {
    background-color: #F0F0F0;
}

body {
    background-color: white;
}

.logo {
    margin: 25px;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
    padding: 15px;
    background-color: #F8F8F8;
}

#definition {
    color: gray;
    font-size: 30px;
    text-align: center;
}

#player1, #player1-display, #player2, #player2-display, #tiles {
    width: 100%;
    margin: 50px;
    padding: 25px;
}

label {
    font-size: 30px;
}

h1 {
    color: black;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 45px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

p {
    color: dark grey;
}

input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input[type=button] {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=button]:hover {
    background-color: #45a049;
  }

  #word, #word2, #points, #points2 {
    font-size: 20px;
  }

  #words, #words2 {
    font-size: 30px;
  }

  #total, #total2 {
    font-size: 30px;
  }

  #player1 div, #player2 div {
    font-size: 30px;
  }